extends ../layout 
block content
    .row
        .col-sm-8
             h1=title
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Make Reservarion
    table.table
        thead
            tr
                th Name
                th No. of Seats
                th Food
                th Drink
                th Action
        tbody
            each product in products
                tr
                    td=product.name
                    td=product.seats
                    td=product.food
                    td=product.drink  
                    td
                        a(href="/products/delete"+product._id, class="btn btn-danger") Delete
                        a(href="/products/edit"+product._id, class="btn btn-warning") Edit
                        a(href="/products/cart"+product._id, class="btn btn-info") Add to Cart